<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236281260806-1ibj74841f1mfb4pqajo7k3acc7o6nff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236281260806-1ibj74841f1mfb4pqajo7k3acc7o6nff</string>
	<key>API_KEY</key>
	<string>AIzaSyAc7sHRUFEXeNtxllNtShtGosXV-xhPq6w</string>
	<key>GCM_SENDER_ID</key>
	<string>236281260806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justinchester.Workouts</string>
	<key>PROJECT_ID</key>
	<string>workouts-778f0</string>
	<key>STORAGE_BUCKET</key>
	<string>workouts-778f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236281260806:ios:7155ea91ad9d64268c0c87</string>
</dict>
</plist>