<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>&quot;Workouts would like to write walking &amp; running, heart rate, and active energy health information to Health&quot;</string>
	<key>NSHealthShareUsageDescription</key>
	<string>&quot;Workouts would like to read walking &amp; running, heart rate, and active energy health information from Health&quot;</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>bolt.heart</string>
		<key>UIColorName</key>
		<string>Launch</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
